[user]
	name = Rock Hymas
	email = rock@hymasfamily.org
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = code --wait
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[diff]
	tool = vscode
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
	
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait "
[difftool "vscode"]
	cmd = "code --wait --diff  "
